* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

}

:root {
  --bkg-color: var(#ffffff);
  --font-color: var(#000000);
  --font-spam: var(#6c63ff);
  --bkg_footer: var(#6c63ff)
  --elipse: var(#c4c4c4 50%);
}

body::before {
  background: #c4c4c4;
  border-radius: 50%;
  width: 25rem;
  height: 29rem;
  z-index: -1;
  position: absolute;
  content: '';
  top: -270px;
  transform: scaleY(0.7) rotate(45deg);
  right: -200px;
}

.c-header__logo {
  position: relative;
  top: 22px;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.c_menu_item {
  display: block;
  position: relative;
  top: 50px;
  left: 30px;
  margin-bottom: 17px;
  color: var(--font-color);
  font-size: 24px;
  width: 100px;
  transition: color 0.3s;
}

.c_menu_item:hover {
  color: #6c63ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.c_menu_item::after {
  content: ' ';
  background-color: #6c63ff;
  height: 3px;
  position: relative;
  bottom: -2px;
  width: 0%;
  display: block;
  position: absolute;
  left: 0;
} /*  cria pseudo elemento (____) depois do a, mas somente quando passar o mouse(hover) */

.c_menu_item:hover::after {
  width: 100%;
  transition: width 0.5s;
}

spam {
  color: #6c63ff;
}

.c_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  height: 100%;
}
.c_main_slogan1 {
  width: 259px;
  height: 132px;
  position: relative;
  top: 130px;
  font-size: 2.25rem;
  text-align: center;
  align-content: center;
}

.c-main_img {
  position: relative;
  width: 250px;
  height: 203.76px;
  top: 227px;
}

.c_main_slogan2 {
  position: relative;
  width: 264px;
  height: 54px;
  top: 320px;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 54px;
}

.c_main_questions {
  position: relative;
  top: 420px;
}

.c_questions__item {
  height: 70px;
  border: 3px solid #6c63ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 27px;
  text-align: left;
  padding: 21px 73px 22px 24px;
}

.c_questions__item:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.c_questions_text {
  display: none;
}

.c_questions__button {
  background-color: black;
  color: #6c63ff;
  border-radius: 15px;
  width: 222px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 1350px;
  margin-bottom: 168px;
}

.c_questions__button:hover {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.2s;
}
.c_footer {
  position: relative;
  width: 100%;
  height: 387px;
  top: 650px;
  background-color: #6c63ff;
}
.c_footer_slogan {
  padding-top: 40px;
  font-size: 48px;
  line-height: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 55px;
}
.c_footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

@media (min-width: 1008px) {
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
  }
  body::before {
    right: -180px;
    top: -220px;
  }
  .c-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .c-header__logo {
    position: relative;
    left: -160px;
    font-size: 48px;
    line-height: 72px;
  }
  .c_menu {
    display: flex;
    position: relative;
    right: -160px;
  }
  .c_menu_item {
    margin-left: 28.19px;
  }

  .c_main {
    display: inline-block;
  }

  .c_main_slogan1 {
    width: 384.53px;
    height: 132px;
    position: relative;
    left: 970px;
    top: 390px;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
  }

  .c-main_img {
    width: 611px;
    height: 498px;
    right: 270px;
    top: 90px;
  }

  .c_main_slogan2 {
    position: relative;
    width: 385px;
    height: 65px;
    left: 560px;
    top: 200px;
    font-size: 48px;
    line-height: 72px;
  }

  .c_main_questions {
    position: relative;
    top: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .c_questions {
    position: relative;
    left: 70px;
    width: 502px;
  }

  .c_questions_text {
    display: block;
    width: 580px;
    height: 230px;
    right: 150px;
    position: relative;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
  }

  .c_questions__button {
    width: 502px;
    height: 70px;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 1450px;
    left: 500px;

    margin-bottom: 168px;
  }
  .c_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 70px 0px 70px;
  }
}
